html {
  background-color: #ecf0f1;
}

body {
  background-color: white;
  font-family: 'Calibri', sans-serif;
  font-size: 20px;
  margin: 0% 15% 0% 15%;
  padding: 5% 5% 5% 5%;
}


a {
  word-wrap: break-word;
  cursor: pointer;
}

.name {
  display: inline;
  font-size: 1.4em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact-information, .links-container {
  color: #808284;
  font-size: .9em;
  letter-spacing: 1px;
  line-height: 1em;
  text-transform: uppercase;
  display: inline;
}

.contact-deets {
  color: #58585B;
  display: inline;
  margin-bottom: 2%;
  margin-top: 1.1em;
  text-decoration: none;
}

.links {
  color: #58585B;
  display: inline;
  text-decoration: none;
}
  .links:hover {
    color: black;
  }

.links img {
  margin-bottom: -.2em;
  padding-right: .3em;
  padding-left: .3em;
}

.primary-titles {
  color: black;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: -1%;
  text-decoration: none;
}

.location {
  color: #58585B;
  font-size: .8em;
  letter-spacing: 2px;
  margin-bottom: -1%;
  margin-top: 1.1em;
  padding-left: .4em;
  text-transform: uppercase;
}

.category-headers {
  color: black;
  font-size: 1em;
  letter-spacing: 2px;
  margin-top: 3em;
  margin-bottom: .1em;
  text-transform: uppercase;
}

.category-details {
  color: #808284;
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-top: .5em;
}


.category-description-main {
  color: #808284;
  font-size: 1em;
  line-height: 1.4em;
  margin: 1% 2% 1% 2%;
}

.category-description {
  color: #808284;
  font-size: 1em;
  line-height: 1.4em;
  margin: .01em 7% 1% 2%;
}

hr {
  border: 1px dotted #A7A9AB;
  border-style: none none dotted; 
  margin: 0 0 0 0;
}
.achievement{
  margin-top: 20px;
}

@media (max-width:1024px)  {
  body {
    margin: 5% 10% 5% 10%;
  }
  .links-container {
    display: block;
  }
  img.icon {
    width: 40px;
  }
  .contact-deets {
    display: block;
    margin-top: 0.2em;
  }
}